{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{parent()}}
{%endblock%}

{% block body %}
    {{parent()}}
    <h1 class="titresH1"> Ajouter une nouvelle catégorie</h1>
    {{ form_start(form) }}
    <div class='container-fluid formulaire'  >
        <div class='row'>
            {# Colonne de gauche #}
            <div class='col-md-10 '>
                <div class="form-group">
                    {{ form_label(form.Nom,'Nom :', {'label_attr': {'class': 'labelFormTxt'}}) }}
                    {{ form_errors(form.Nom) }}
                    {{ form_widget(form.Nom, { 'attr': {'class': 'form-control'} } )}}
                </div>
                
                 <button class="btn btn-primary" type="submit" >Enregistrer</button>
            </div>

           
    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}                      
        
{%endblock%}
