{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{parent()}}
{%endblock%}

{% block body %}
    {{parent()}}
    <h1 class="titresH1"> Modifier une catégorie</h1>
    <div class='container-fluid formulaire'  >
        <div class='row'>
            <div class='col-md-12 '>
                {{ form_start(form) }}
                <div class='row'>
                    {# Colonne de gauche #}
                    <div class='col-md-4 '>
                        <div class="form-group">
                        {{ form_label(form.Nom,'Nom :', {'label_attr': {'class': 'labelFormTxt'}}) }}
                        {{ form_errors(form.Nom) }}
                        {{ form_widget(form.Nom, { 'attr': {'class': 'form-control'} } )}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="MenuBasCentre"> 
        <button class="btn btn-primary" type="submit" id="patient_Enregistrer" name="patient[Enregistrer]">Enregistrer</button>
    </div>
    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}                      
        
{%endblock%}